.editorconfig
.env
.env.test
.eslintrc
.gitattributes
.github
.gitignore
.idea/
.log
.vscode/
logs/
node_modules/
scripts/
src/
yarn-error.log*
yarn-debug.log*
tsconfig.json
npm-debug.log*
jest.config.js
